<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="STATEMENT"></setting>
        <setting name="logImpl" value="SLF4J"></setting>
    </settings>
<!--
    &lt;!&ndash;环境表示连接  可以配置多个&ndash;&gt;
    <environments default="development">
        <environment id="development">
            &lt;!&ndash;transactionManager 表示事务管理器  默认使用jdbc&ndash;&gt;
            <transactionManager type="JDBC"/>
            &lt;!&ndash;POOLED 启用连接池  unpooled 不用连接池&ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        &lt;!&ndash;与dao层接口对应的映射（mapper）文件的位置&ndash;&gt;
        <mapper resource="com/zhiyou100/RoleMapper.xml"/>
        <mapper resource="com/zhiyou100/PermissionMapper.xml"/>
    </mappers>
-->
</configuration>